{% extends "index.html" %}

{% block menu %}
    <div class="header">
        <h1 align="center">Наши Контакты</h1>
    </div>
{% endblock %}

{% block mainpart %}
    <section class="content">
        <a href="https://www.twitch.tv/bratishkinoff" class="contact">Стример Вова</a> <br>
        <a href="https://www.youtube.com/channel/UCAf-RYRpQgxpj8voC29ck7w" class="contact">Стример Лёша</a> <br>
        <a href="https://www.youtube.com/channel/UC_8PAD0Qmi6_gpe77S1Atgg" class="contact">Блогер Максимка</a> <br>
    </section>
{% endblock %}

</body>
</html>